<mat-toolbar color="primary">
  <button mat-icon-button class="icon" aria-label="Menu" (click)="drawer.toggle(); closeShown=!closeShown">
    <mat-icon *ngIf="!closeShown">menu</mat-icon>
    <mat-icon *ngIf="closeShown">close</mat-icon>
  </button>
  <span>Easy Notes</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="icon" aria-label="Account">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" class="drawer">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <div class="sidenav-content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eaque exercitationem officiis, tenetur
    perferendis aspernatur odit voluptate quas labore. Ducimus praesentium omnis hic eius officia suscipit quae
    reiciendis natus nam?
  </div>

</mat-drawer-container>


<router-outlet></router-outlet>