<mat-toolbar color="primary">
  <button mat-icon-button class="icon" aria-label="Menu"
    (click)="drawer.toggle(); closeShown=!closeShown; loadCategories()">
    <mat-icon *ngIf="!closeShown">menu</mat-icon>
    <mat-icon *ngIf="closeShown">close</mat-icon>
  </button>
  <span>Easy Notes</span>
  <span class="toolbar-spacer"></span>
  <div *ngIf="loggedIn">{{getUsername()}}</div>
  <button mat-icon-button class="icon" aria-label="Account" [matMenuTriggerFor]="account_menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #account_menu="matMenu">
    <a mat-menu-item [routerLink]="['/login']" *ngIf="!loggedIn">Login</a>
    <a mat-menu-item [routerLink]="['/register']" *ngIf="!loggedIn">Register</a>
    <button mat-menu-item [routerLink]="['/login']" *ngIf="loggedIn" (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" class="drawer">
    <app-category-list *ngIf="loggedIn"></app-category-list>
    <div *ngIf="!loggedIn">
      Please
      <a mat-stroked-button [routerLink]="['/login']">Login</a>
      or
      <a mat-stroked-button [routerLink]="['/register']">Register</a>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>